.side__main
  .side-bar
    .side-bar__items
      = current_user.name
      .side-bar__items--icon
        =link_to new_group_path, class: "items-edit items__edit--pen" do
          %i.fa.fa-edit
        =link_to edit_user_path(current_user), class: "items-edit items__edit--gear" do
          %i.fa.fa-cog
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
